.header {
    min-height: 5rem;
    background-color: RGB(35, 34, 52);
    box-shadow: 0px 3px 5px black;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header:hover{
    background-color: #9f63f4;
}
.product-header-container{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* border:2px solid red; */
}

.auth-container{
    display: flex;
    gap:5px;
    /* border:2px solid red; */
}
.link{
    text-decoration: none;
    color: white;
    padding: 0.2rem;
    cursor: pointer;
}