.cart-container{
    position: relative;
    margin-top: 0.5rem;
    display:flex ;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}


.title {
  display: flex;
}
.title img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

table {
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  border-right: none;
  border-bottom: none;
}
th,td{
  border-bottom: 2px solid white;
  border-right: 1px solid white;

}
.input-btn-container input {
    width: 2rem;
    margin: 5px;
    height: 1.3rem;
    outline: none;
    border: 2px solid aqua;
    border-radius: 5px;
}
.input-btn-container button{
    width: 5rem;
    height: 1.8rem;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
